@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Epilogue', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Red Hat Display', ui-sans-serif, system-ui, sans-serif;

  --color-primary: #4640de;
  --color-secondary: #26a4ff;
  --color-gray: #515b6f;
  --color-text: #25324b;
}
